body {
   background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.line {
position: absolute;
border: solid 3px black;
min-height: 140%;
margin-left: 13%;
border-radius: 5%;

}
 header {
    font-size:200%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% );
 }

.headerlist {
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
} 
 
 header a {
    font-size: 70%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    color: aliceblue;
   
 }


 .box {
   margin-left: 50%;
   padding: 10px;
   position: relative;

 }
.box {
   height: 20px;
   width: 20px;
   margin-bottom: 15px;
   border: 1px solid black;
   clear: both;
   float:inline-start
 }

section {
   position: relative;
   margin: 50px;
   margin-left: 15%; 
   font-size:30px;
}


 footer {
    border: 5px solid blue;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    align-items: center; 
 }

 .me {
color: aliceblue;
background-color: darkcyan;
border-radius: 40px;
padding: 20px;
line-height: 50px;
margin-bottom: 50px;
  }
.secondary {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

section div {   
   padding-left: 1%;
   padding-bottom: 5%;
}

section div[data-descr]{
   width: 40%;
}


section div[data-descr]::after {
margin-top: 20px;
content:attr(data-descr);
position: absolute;
font-size: large;
color: rgb(105, 103, 216);
background-color: aliceblue;
padding: 4px;
border-radius: 10px;

}


.Sections div[id]::before , footer[id]::before {
content:attr(id);
position:absolute;
margin-left: -15%;
color: aliceblue;

}

.secondary div[data-descr] {
border: solid 10px rgb(24, 19, 85);
width: 40%;
height: 20%;
margin: auto;
margin-bottom: 5%;
padding: 100px;
padding-left: 1%;
padding-bottom: 1%;
padding-top: 15%;
transition: 0.7s;
opacity: .7;
}

.secondary div[data-descr]:hover {
   background-color: #30cfd0;
   opacity: 1.5;
   cursor: pointer;
}


.main 
{
   color: aliceblue;
   border: solid 10px rgb(24, 19, 85);
   width: 50%;
   height: 10%;
   margin: auto;
   padding: 225px;
   padding-left: 1%;
   padding-bottom: 5%;
   background-image: url("https://images.unsplash.com/photo-1559827260-dc66d52bef19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
   background-position: center;
   opacity: .7;
   transition: .5s;
}

.main:hover {
   opacity: 1;
   cursor: pointer;
}

.main::after {
position: relative;
background-color: #30cfd0;
}

.LED {
   background-image: url("https://images.unsplash.com/photo-1636215096587-21982fbf5843?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80");
   color:antiquewhite
}

.calc {
   background-image: url("https://images.unsplash.com/photo-1611125832047-1d7ad1e8e48f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
   background-position: center;

}

.puzzle {
   background-image: url("https://cdn.shopify.com/s/files/1/0260/4669/3429/products/Autism12_300x300.jpg?v=1587964081");
   background-position: center;
}


.run {
   background-image: url("https://images.unsplash.com/photo-1598702631024-b282c0fd96b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80");
   background-position: center;
   background-size: cover;
   color: aliceblue;
}
 footer a {
    margin-left: 10% ;
    margin-right: 10%;
    font-size: large;

 }

 footer ::before {
   content: id;
}
